.go-top {
  z-index: 10001;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  font-size: 30px;
  position: fixed;
  bottom: -40px;
  left: 20px;
  transition: all 1s ease;
  background-color: #404040;
  color: #fff;
  text-decoration: none;
  border-radius: 5px; }
  .go-top.show {
    bottom: 20px; }
  .go-top:hover {
    background-color: #5dba9d;
    color: #fff; }

h1 {
  font-size: 8rem;
  padding: 10px 10px;
  text-align: left;
  text-rendering: geometricPrecision; }
  h1.insetshadow {
    color: #fff;
    letter-spacing: .1em;
    text-shadow: -1px -1px 1px #404040, 2px 2px 1px #e0dfdc; }

h3 {
  text-align: center;
  text-rendering: geometricPrecision; }
  h3.insetshadow {
    color: #fff;
    letter-spacing: .1em;
    text-shadow: -1px -1px 1px #404040, 2px 2px 1px #e0dfdc; }

body {
  background: url(/img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  color: white; }

.drop-shadow {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background: white; }

.container.drop-shadow {
  padding-left: 0;
  padding-right: 0; }

.col-lg-5 img {
  margin: 0 auto 15 auto; }

a:link {
  color: url(/img/bg.jpg); }

a:hover {
  text-decoration: none;
  color: dodgerblue; }

.mfive {
  padding: 15px; }

.about-inside {
  color: rgba(0, 0, 0, 0.8);
  padding: 15px; }

h5 {
  text-align: center;
  margin: auto;
  font-size: 0.8rem;
  line-height: 140%;
  margin-top: 1rem;
  max-width: 50ex; }

p {
  text-align: center;
  margin-top: 3rem; }

.form-style {
  color: black;
  background: #FFF; }

.form-btn {
  margin-left: 15px; }
