body {
  font-family: Anton, sans-serif;
  background: url(/img/bg.png) no-repeat center center fixed;
  background-size: cover;
  color: white; }

.drop-shadow {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background: white; }

.container.drop-shadow {
  padding-left: 0;
  padding-right: 0; }

.col-lg-5 img {
  margin: 0 auto 15 auto; }

a:link {
  color: url(/img/bg.png); }

a:hover {
  text-decoration: none;
  color: dodgerblue; }

.mfive {
  padding: 15px; }
