//colors
$black_50: rgba(0, 0, 0, .5);
$bg_main: url(/img/bg.jpg);
$bg_white: rgba(255, 255, 255, 1);
$concrete: #f2f2f2;
$color_iron_approx: #d8d8d8;
$color_cape_cod_approx: #404040;
$color_pumice_approx: #c8c8c8;
$color_nobel_approx: #b6b6b6;
$color_star_dust_approx: #9f9f9f;
$black_80: rgba(0,0,0,0.8);
$color_romance_approx: #fefefe;
$color_cape_cod_approx: #404040;
$white: #ffffff;
$color_tradewind_approx: #5dba9d;


//positioning
$padding-fi: 5px;
$padding-fite: 15px;
$marg-top-te: 10px;

//visuals
$rad-five: 5px;

//fonts
$font_0: Bangers;
$font_1: cursive;

//colors
$color_alto_approx: #e0dfdc;
$color_mine_shaft_approx: #333;
$white: #fff;
$color_heavy_metal_approx: #2c2c2c;
$color_shark_approx: #2a2a2a;
$color_log_cabin_approx: #222;
$color_rangoon_green_approx: #1e1e1e;
$color_hunter_green_approx: #161616;
$color_bunker_approx: #141414;
$black_90: rgba(0, 0, 0, 0.9);
$color_woodsmoke_approx: #111;
$color_tuatara_approx: #363636;
$color_quill_gray_approx: #d5d5d5;
$black_20: rgba(0, 0, 0, 0.2);

//urls





.go-top {
    z-index: 10001;
	display: block;
	width: 40px;
	height: 40px;
	line-height: 35px;
	text-align: center;
	font-size: 30px;
	position: fixed;
	bottom: -40px;
	left: 20px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 1s ease;
	background-color: $color_cape_cod_approx;
	color: $white;
	text-decoration: none;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
	&.show {
		bottom: 20px;
	}
	&:hover {
		background-color: $color_tradewind_approx;
		color: $white;
	}
}




h1 {
	font-size: 8rem;
	padding: 10px 10px;
	text-align: left;
	text-rendering: geometricPrecision;
	
	&.insetshadow {
		color: $white;
		letter-spacing: .1em;
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: -1px -1px 1px $color_cape_cod_approx, 2px 2px 1px $color_alto_approx;
	}
}
h3 {
	text-align: center;
	text-rendering: geometricPrecision;
	
	&.insetshadow {
		color: $white;
		letter-spacing: .1em;
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: -1px -1px 1px $color_cape_cod_approx, 2px 2px 1px $color_alto_approx;
	}
}

body {
    background: $bg_main no-repeat center center fixed;
	background-size: cover;
    color: $bg_white;
}
.drop-shadow {
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 5px 2px $black_50;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
    background: $bg_white;
}
.container.drop-shadow {
	padding-left: 0;
	padding-right: 0;
}
.col-lg-5 img {
    margin: 0 auto 15 auto;
}
a:link {
    color: $bg_main;
}
a:hover {
    text-decoration: none;
    color: dodgerblue;
}
.mfive {
    padding: $padding-fite;
}

.about-inside {
    color: $black_80;
    padding: $padding-fite;
}

h5 {
	text-align: center;
	margin: auto;
	font-size: 0.8rem;
	line-height: 140%;
	margin-top: 1rem;
	max-width: 50ex;
}
p {
	text-align: center;
	margin-top: 3rem;
}
.form-style {
    color: black;
}